@charset "UTF-8";

@media screen and (min-width: 768px) {
    button#btnMenu{
        display: none;
    }
    menu#item{
        display: block;
    }
    menu > ul > li{
        display: inline-block;
    }
    menu > ul{
        text-align: left;
    }
    main{
        min-width: 768px;
        max-width: 900px;
    }
}